body {
    text-align: center;
}

#app {
    background-color: aliceblue;
}

.line {
    width: 100px;
    height: 10px;
    background-color: #66CDAA;
    margin: 10px auto;
}

#carouselExampleControls {
    background-color: rgb(22, 89, 92);
}